html 
    { 
      font:system;
      background:transparent; 
      overflow:none;
      padding:0;
      transform: translate(100%,0);
    }
    
    body 
    {
      background-clip: padding-box;
      padding:8dip; margin:0;
      border-left:1dip solid rgba(150,150,150,0.25); 
      transform: translate(0%,0);
    }
    
    html[state="shown"] {
      transform: translate(0%,0);
      transition: transform(quint-out,300ms);
    }
    
    section {
      flow: grid(1 2,
                 3 3,
                 4 5);
      border-spacing: 8dip;
    }
    
    brick { 
      display:block;
      width:*; 
      height: 100dip; 
      background: gold;
    }
   
    .navi{
        width: 100%;
        background: #cfcfcf;
        display: flex
    }

    .btn{
        display: inline-block;
        padding: 30px;
        width: *;        
    }