@font-face {
    font-family: MyAwesome;
    src: url(../fonts/fontawesome-webfont.ttf);
}

html {
    font: system;
    background: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    background: rgba(71, 70, 70, 0.7);
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: inset -12px -6px 60px -16px rgba(0,0,0,0.75);
}

.navi {
    width: 100%;
    background: rgba(0, 0, 0, 1);
    padding: 3dip 20dip;
}

.btn{
    font: 12pt MyAwesome;
    border: none;
    border-radius:  20pt;
    background: transparent;
    color: #ffffff;
}