html 
{ 
  font:system;
  background:transparent; 
  overflow: hidden;
}

body{
    background: rgba(0,0,0,0.4);
    overflow: hidden;
}

    .navi{
        width: 100%;
        background: #cfcfcf;
        display: flex
    }

    .btn{
        display: inline-block;
        padding: 30px;
        width: *;        
    }