/*
#cgo CFLAGS: -x objective-c
#cgo LDFLAGS: -framework Cocoa
#import <Cocoa/Cocoa.h>


int LoadMenu(void) {
    [NSAutoreleasePool new];
    [NSApplication sharedApplication];
    [NSApp setActivationPolicy:NSApplicationActivationPolicyRegular];
    id menubar = [[NSMenu new] autorelease];
    id appMenuItem = [[NSMenuItem new] autorelease];
    [menubar addItem:appMenuItem];
    [NSApp setMainMenu:menubar];
    id appMenu = [[NSMenu new] autorelease];
    id appName = [[NSProcessInfo processInfo] processName];
    id quitTitle = [@"Quit " stringByAppendingString:appName];
    id quitMenuItem = [[[NSMenuItem alloc] initWithTitle:quitTitle
        action:@selector(terminate:) keyEquivalent:@"q"]
			  autorelease];

	[appMenu addItem:[[[NSMenuItem alloc] initWithTitle:@"CoolDude" action:@selector(caller:) keyEquivalent:@""] autorelease] ];
	[appMenu addItem:quitMenuItem];

    [appMenuItem setSubmenu:appMenu];

return 0;
}
*/
import "C"


// add  this code to main function 

C.LoadMenu()